<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th><span>Airline</span></th>
				<th><span>Depart</span></th>
				<th><span>Arrive</span></th>
				<th><span>Price</span></th>
			</tr>
		</thead>
		<tbody ng-repeat="flight in trips.flights">
			<tr>
				<td>
					<carrier-logo image-url="{{flight.getCarriers()[0]}}" ></carrier-logo>
					<span class="sm-text faint-text" ng-if="::(flight.getCarriers().length > 1)">Multiple Carriers</span>
				</td>
				<td>
					<p style="margin-bottom: 0px" formatted-time="flight.getDepartureDate()" format="'HH:mm'"></p>
					<p class="xs-text faint-text hidden-xs " ng-bind="flight.getStops().join('-')"></p>
				</td>
				<td>
					<p style="margin-bottom: 0px" formatted-time="flight.getArrivalDate()" format="'HH:mm'"></p>
					<span class="sm-text faint-text" formatted-time="flight.getArrivalDate()" format="'Do MMMM'" ></span><br class="hidden-sm hidden-md hidden-lg" />
					<span class="xs-text faint-text" ng-bind="flight.getTripCount()"></span> <span class="xs-text faint-text">Stops</span>
				</td>
				<td>
					<div class="col-sm-6">
						<p style="margin-bottom: 0px">{{ ::(flight.getSaleTotal().amount) | number }}</p>
						<span class="xs-text" ng-bind="flight.getSaleTotal().currency"></span>
					</div>
					<div class="col-sm-6 hidden-xs">
						<button class="btn-special" type="button" ng-click="flight.show = !flight.show">Book</button>
					</div>
				</td>
			</tr>
			<tr class="hidden-sm hidden-md hidden-lg">
				<td colspan="4">
						<button style="width: 90%" class="btn-special" type="button" ng-click="flight.show = !flight.show">Book</button>
				</td>
			</tr>
			<tr ng-if="flight.show" flight-detail ng-repeat="leg in flight.getLegs()">

			</tr>
		</tbody>
	</table>
</div>